@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-one: #7cfdff;
    --color-two: #eeffa3;
    --color-three: #ffc6c6;
}

@layer base {
    .navbar {
        width: calc(100vw - 1rem);
        margin: 0.5rem auto;
        max-width: 1200px;
        padding: 1rem;
        top: 0;
    }

    .hero {
        min-height: calc(100vh - 5rem);
        width: calc(100vw - 1rem);
        margin: 0.5rem;
    }

    .clip-1 {
        clip-path: polygon(
            100% 0,
            100% calc(100% - 1.5rem),
            calc(100% - 1.5rem) 100%,
            0 100%,
            0 0
        );
    }

    .clip-2 {
        clip-path: polygon(
            100% 0,
            100% 100%,
            0.5rem 100%,
            0 calc(100% - 0.5rem),
            0 0
        );
    }

    @keyframes shimmerGradient {
        0% {
            text-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
            background-position: 0% 0%;
        }
        50% {
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
            background-position: 100% 100%;
        }

        100% {
            text-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
            background-position: 0% 0%;
        }
    }

    .text-gradient {
        font-weight: 900;
        background: linear-gradient(45deg, #7cfdff, #eeffa3, #ffc6c6);
        background-size: 220% 220%;
        background-position: 50% 50%;
        animation: shimmerGradient 2s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.cp-1 {
    clip-path: polygon(7% 0, 100% 0, 100% 50%, 100% 99%, 7% 100%, 0% 50%);
}

.bitka-mw {
    max-width: 1200px;
}

.rotating-background {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 0;
    text-align: center;
    padding: 1rem;
}

.rotating-background::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(
        from 0deg,
        #111 0%,
        #222 25%,
        #111 50%,
        #222 75%,
        #111 100%
    );
    animation: rotateBackground 6s linear infinite;
    z-index: -1;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
